* {
    margin: 0;
    padding: 0;
}

.overflow-hidden {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #020D19;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    z-index: 10000;
}

.loading-screen-image img{
    width: 60px;
    height: auto;
    filter: drop-shadow(0px 0px 8px antiquewhite);
}

.loading-screen-text {
    filter: drop-shadow(0px 0px 2px antiquewhite);
}

.main-block {
    height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("images/background.gif");
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    padding: 7px 0;
    height: 7vh;
    color: white;
    display: flex;
    background-color: rgba(6, 2, 13, 1);
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    z-index: 999;
}

.navbar div {
    margin: 10px;
    display: inline-block;
    flex-basis: 30%;
    text-align: center;
}

.item a {
    color: white;
    text-decoration: none;
}

.item:hover {
    opacity: 0.5;
    transform: scale(0.95);
    transition: .3s;
}

.logo {
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0 0 10px white;
}

.toogle-block {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    margin-top: calc(10px + 7vh) ;
    height: calc(100vh - 10px - 7vh);
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("images/background.gif");
    background-position: center;
    z-index: 100;
}

.toogle-block-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:80%;
    width: 100%;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.toogle-block-content div {
    margin: 10px;
}

.toogle-block-content-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toogle-block-content-icons div{
    padding: 0;
}

.main-block-content {
    width: 100%;
    padding-top: calc(17px + 7vh);
    height: calc(100vh - 17px - 7vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-block-content-text {
    flex-basis: 40%;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 3s linear infinite;
    filter: drop-shadow(2px 2px 30px #482064);
}

.main-block-content-text #main {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.main-block-content-text #submain {
    font-size: 25px;
    font-style: italic;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 3s linear infinite;
    filter: drop-shadow(2px 2px 30px #482064);
}


.main-block-content-image {
    flex-basis: 40%;
}

.main-block-content-image img{
    display: block;
    margin: auto;
    width: 80%;
    filter: drop-shadow(3px 3px 1px rgba(195, 155, 211, 0.3));
}

.main-block-content-mint {
    flex-basis: 80%;
}



/* ABOUT */


.about {
    width: 100%;
    background-color: #05010A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 7vw;
}


.about-header {
    padding-top: 3vw;
    padding-bottom: 3vw;
    flex-basis: 100%;
    height: 5vw;
}

.about-header h1 {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2.7vw;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2s linear infinite;
    filter: drop-shadow(2px 2px 2px #482064);
}


.about-text {
    display: flex;
    align-items: center;
    flex-basis: 40%;
    color: white;
    /*height: calc(90vh - 35px - 7vh);*/
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    letter-spacing: calc(0.5px);
    filter: drop-shadow(2px 2px 15px #482064);
}

.about-image {
    flex-basis: 40%;
    filter: drop-shadow(0 0 4px #482064);
}

.about-image img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% center;
    }

    50% {
        background-position: 100% center;
    }

    100% {
      background-position: 0% center;
    }
}


#button {
    margin-top: 45px;
}

svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
}

#gooey-button {
    left: -40px;
    font-style: italic;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    transform: scale(0.7);
    padding: 1rem 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    filter: url("#gooey");
    position: relative;
    background-color: #A170B5;
    transition: .5s;
}

#gooey-button a{
    color: #C39BD3;
    text-shadow: 1px 1px 2px #482064;
    text-decoration: none;
    width: 100%;
}

#gooey-button:focus {
    outline: none;
}
#gooey-button .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#gooey-button .bubbles .bubble {
    background-color: #A170B5;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    transition: .5s;
}

#gooey-button:hover {
    background-color: #C39BD3;
}

#gooey-button:hover a {
    color: #9A67AF;
}

#gooey-button:hover .bubbles .bubble {
    background-color: #C39BD3;
}

#gooey-button .bubbles .bubble:nth-child(1) {
    left: 72px;
    width: 25px;
    height: 25px;
    animation: move-1 3.02s infinite;
    animation-delay: 0.2s;
}
#gooey-button .bubbles .bubble:nth-child(2) {
    left: 72px;
    width: 25px;
    height: 25px;
    animation: move-2 3.04s infinite;
    animation-delay: 0.4s;
}
#gooey-button .bubbles .bubble:nth-child(3) {
    left: 50px;
    width: 25px;
    height: 25px;
    animation: move-3 3.06s infinite;
    animation-delay: 0.6s;
}
#gooey-button .bubbles .bubble:nth-child(4) {
    left: 77px;
    width: 25px;
    height: 25px;
    animation: move-4 3.08s infinite;
    animation-delay: 0.8s;
}
#gooey-button .bubbles .bubble:nth-child(5) {
    left: 98px;
    width: 25px;
    height: 25px;
    animation: move-5 3.1s infinite;
    animation-delay: 1s;
}
#gooey-button .bubbles .bubble:nth-child(6) {
    left: 85px;
    width: 25px;
    height: 25px;
    animation: move-6 3.12s infinite;
    animation-delay: 1.2s;
}
#gooey-button .bubbles .bubble:nth-child(7) {
    left: 22px;
    width: 25px;
    height: 25px;
    animation: move-7 3.14s infinite;
    animation-delay: 1.4s;
}
#gooey-button .bubbles .bubble:nth-child(8) {
    left: 91px;
    width: 25px;
    height: 25px;
    animation: move-8 3.16s infinite;
    animation-delay: 1.6s;
}
#gooey-button .bubbles .bubble:nth-child(9) {
    left: 72px;
    width: 25px;
    height: 25px;
    animation: move-9 3.18s infinite;
    animation-delay: 1.8s;
}
#gooey-button .bubbles .bubble:nth-child(10) {
    left: 100px;
    width: 25px;
    height: 25px;
    animation: move-10 3.2s infinite;
    animation-delay: 2s;
}

@keyframes move-1 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -117px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-2 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -93px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-3 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -107px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-4 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -81px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-5 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -116px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-6 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -51px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-7 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -70px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-8 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -73px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-9 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -127px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

@keyframes move-10 {
    0% {
        transform: translate(0, 0);
    }
    99% {
        transform: translate(0, -123px); }
    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

.roadmap {
    width: 100%;
    background-color: rgba(8, 4, 18, 1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 40px;
}

.roadmap-items {
    flex-basis: 50%;
}

.roadmap-block {
    margin-bottom: 70px;
}

.roadmap-block div {
    margin-left: 2%;
    margin-top: 15px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4vw;
    letter-spacing: calc(0.5px);
    filter: drop-shadow(2px 2px 15px #482064);
    line-height: 1.7;
    padding-right: 10px;
}

.roadmap-block h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2s linear infinite;
    filter: drop-shadow(2px 2px 2px #482064);
}

.progress-container {
    flex-basis: 1%;
    background-color: rgba(91, 44, 111, 0.2);
    border-radius: 15px;
    margin-bottom: 5%;
}

.progress-bar {
    background-image: linear-gradient(180deg, #cc79c5 46%, #FFCC70 100%);
    width: 100%;
    height: 0%;
    border-radius: 15px;
}

.faq {
    width: 100%;
    background-color: #05010A;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vw;
    padding-top: 3vw;
}

.faq-header {
    padding-top: 3vw;
    padding-bottom: 3vw;
    flex-basis: 100%;
    height: 5vw;
}

.faq-header h1 {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2s linear infinite;
    filter: drop-shadow(2px 2px 2px #482064);
}

.faq-items {
    flex-basis: 60%;
}

.faq-block {
    flex-basis: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    padding: 2%;
}

.faq-block .faq-block-header {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.8vw;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2s linear infinite;
    filter: drop-shadow(2px 2px 2px #482064);
}

.faq-block-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.faq-block-opener {
    font-size: 1.8vw;
    transition: .3s;
}

.faq-block-opener:hover {
    color: gray;
}


.faq-block-hidden {
    padding: 15px 0;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
    letter-spacing: calc(0.5px);
    filter: drop-shadow(2px 2px 15px #482064);
    line-height: 1.6;
}

.transform-rotate-45deg {
    transform: rotate(45deg);
}

.footer {
    height: 5vw;
    background-color: rgba(8, 4, 18, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.footer div {
    padding: 15px 0;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw;
    letter-spacing: calc(0.5px);
    text-shadow: 1px 1px 5px antiquewhite;
}

/* MEDIA QUERY*/


@media(max-width: 800px) {
    .navbar-hide {
        display: none!important;
    }

    .hamburger {
        display: block!important;
        margin-left: auto!important;
        flex-basis: 15%!important;
    }

    .navbar {
        justify-content: center;
    }

    .navbar .logo-text {
        text-align: left;
        padding-left: 20px;
        flex-grow: 1;
    }

    .logo {
        font-size: 20px;
    }

}

@media(min-width: 800px) {
    .toogle-block {
        display: none;
    }
}

@media(max-width: 1450px) {
    .about-text {
        font-size: 18px;
    }

    .main-block-content-text #main {
        font-size: 50px;
    }
}

@media(max-width: 1300px) {
    .about-text {
        font-size: 16px;
    }

    .main-block-content-text #main {
        font-size: 45px;
    }

    .main-block-content-text #submain {
        font-size: 20px;
    }

    #gooey-button {
        left: -70px;
        transform: scale(0.5);
    }

    #button {
        margin-top: 10px;
    }

    .roadmap-items {
        flex-basis: 60%;
    }

    .roadmap-block div {
        font-size: 1.6vw;
    }

    .roadmap-block h3 {
        font-size: 2.3vw;
    }
}

@media(max-width: 1150px) {
    .about-text {
        font-size: 15px;
    }
}

@media(max-width: 1100px) {
    .about-image {
        flex-basis: 80%;
    }

    .about-text {
        text-align: justify;
        flex-basis: 80%;
        font-size: 18px;
        margin-bottom: 35px;
    }

    .about-image img {
        width: 40%;
    }

    .main-block-content-text #main {
        font-size: 40px;
    }

    .main-block-content-text #submain {
        font-size: 20px;
    }

    #gooey-button {
        left: -70px;
        transform: scale(0.5);
    }

    #button {
        margin-top: 10px;
    }

    .main-block-content-image img{
        width: 90%;
    }


}

@media(max-width: 1000px) {
    .main-block-content-text #main {
        font-size: 35px;
    }

    .main-block-content-text #submain {
        font-size: 18px;
    }

    .main-block-content-image img{
        width: 100%;
    }

    #gooey-button {
        left: -75px;
        transform: scale(0.45);
    }

    #button {
        margin-top: 20px;
    }
}

@media(max-width: 900px) {
    .main-block-content-text {
        flex-basis: 60%;
    }

    .main-block-content-image {
        flex-basis: 75%;
    }

    .main-block-content-image img{
        width: 70%;
    }

    .main-block-content-text #main {
        text-align: center;
        margin-bottom: 10px;
    }

    .main-block-content-text #submain {
        text-align: center;
    }

    #gooey-button {
        left: 50%;
        transform: translateX(-50%) scale(0.6);
    }

    .roadmap-items {
        flex-basis: 70%;
    }

    .roadmap-block div {
        font-size: 1.8vw;
    }

    .roadmap-block h3 {
        font-size: 2.7vw;
    }

}

@media(max-width: 800px) {
    .about-image img {
        width: 60%;
    }

    .about-text {
        font-size: 14px;
    }

    .main-block-content-image img{
        width: 60%;
    }

    .progress-container {
        margin-bottom: 7%;
    }


}

@media(max-width: 700px) {
    .roadmap-items {
        flex-basis: 80%;
    }

    .roadmap-block div {
        font-size: 2vw;
    }

    .roadmap-block h3 {
        font-size: 3vw;
    }

    .faq-header h1 {
        font-size: 3.5vw;
    }

    .faq-items {
        flex-basis: 80%;
    }

    .faq-block .faq-block-header {
        font-size: 2.5vw;
    }

    .faq-block-opener {
        font-size: 2.5vw;
    }

    .faq-block-hidden {
        font-size: 1.7vw;
    }

    .about-header h1 {
        font-size: 3.5vw;
    }
}

@media(max-width: 600px) {
    .main-block-content-text #main {
        font-size: 31px;
    }

    .main-block-content-text #submain {
        font-size: 15px;
    }

    .main-block-content-image img{
        width: 75%;
    }

    #gooey-button {
        font-size: 1.5rem;
    }

    .roadmap-block div {
        font-size: 2.2vw;
    }

    .roadmap-block h3 {
        font-size: 3.3vw;
    }


}

@media(max-width: 500px) {
    .main-block-content-text #main {
        font-size: 25px;
    }

    .main-block-content-text #submain {
        font-size: 15px;
    }

    .main-block-content-image img{
        width: 95%;
    }

    .roadmap-block div {
        font-size: 2.5vw;
    }

    .roadmap-block h3 {
        font-size: 3.75vw;
    }

    .roadmap-block {
        margin-bottom: 40px;
    }

    .roadmap-block {
        margin-bottom: 40px;
    }

    #roadmapHeader {
        padding-bottom: 40px;
    }

    .about-header h1 {
        font-size: 4.5vw;
    }

}

@media(max-width: 400px) {
    .main-block-content-text #main {
        font-size: 23px;
    }

    .main-block-content-text #submain {
        font-size: 15px;
    }

    .main-block-content-image{
        width: 85%;
        margin: 0;
    }

    .main-block-content-image img{
        width: 100%;
    }

    #gooey-button {
        transform: translateX(-50%) scale(0.5);
    }

    .main-block-content-text {
        flex-basis: 80%;
    }

}
